<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Rideshare{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap.css") }}" />
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/bootstrap-responsive.css") }}" />
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Rideshare</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
            {% if user %}
              <a href='/{{user.name}}/notifications/' class="navbar-link">Notifications</a>
              Logged in as <a href="users/me/" class="navbar-link">{{user.name}}</a>
            {% else %}
              Logged in as <a href="/#" class="navbar-link">Guest</a>
            {% endif %}
            </p>
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="container content">
            {% block content %}{% endblock %}
          </div>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>

    </div><!--/.fluid-container-->

    <script src="{{ url_for("static", filename="js/jquery.js") }}"></script>
    <script src="{{ url_for("static", filename="js/bootstrap-transition.js") }}"></script>
    <script src="{{ url_for("static", filename="js/bootstrap-alert.js") }}"></script>
    <script src="{{ url_for("static", filename="js/bootstrap-modal.js") }}"></script>
    <script src="{{ url_for("static", filename="js/bootstrap-dropdown.js") }}"></script>
    <script src="{{ url_for("static", filename="js/bootstrap-scrollspy.js") }}"></script>
    <script src="{{ url_for("static", filename="js/bootstrap-tab.js") }}"></script>
    <script src="{{ url_for("static", filename="js/bootstrap-tooltip.js") }}"></script>
    <script src="{{ url_for("static", filename="js/bootstrap-popover.js") }}"></script>
    <script src="{{ url_for("static", filename="js/bootstrap-button.js") }}"></script>
    <script src="{{ url_for("static", filename="js/bootstrap-collapse.js") }}"></script>
    <script src="{{ url_for("static", filename="js/bootstrap-carousel.js") }}"></script>
    <script src="{{ url_for("static", filename="js/bootstrap-typeahead.js") }}"></script>

    </body>
</html>
